name: marmot CI on self-hosted hv2
on: 
  push:
    paths-ignore:
      - 'docs/**'
      - 'README.md'

env:
  # Setting an environment variable with the value of a configuration variable
  env_var: ${{ vars.ENV_CONTEXT_VAR || 'MARMOT CI' }}
  DEBUG: true

jobs:
  # Label of the job
  marmot-package:
    runs-on: [ self-hosted, runner3 ]
    services:
      etcd:
        image: ghcr.io/takara9/etcd:3.6.5
        ports:
          - 2379:2379

    steps:
    - uses: actions/checkout@v5

    - name: change permissions
      run: |
        sudo -S chown -R $USER:$USER /var/actions-runner/_work/marmot

    - name: Install ca-certificates
      run: |
        sudo apt update && sudo apt install -y ca-certificates dnsutils etcd-client
        sudo update-ca-certificates

    - name: 環境セットアップ
      run: |
        whoami
        export CI_ENVIRONMENT=true
        cd tools
        ls -al
        sudo -E env "PATH=$PATH" ./setup.sh
        cd ..

    - name: Configure MinIO Client
      run: |
        mc alias set myminio ${{ secrets.MINIO_ENDPOINT }} \
          ${{ secrets.MINIO_ACCESS_KEY }} \
          ${{ secrets.MINIO_SECRET_KEY }}

    - name: Download file from MinIO
      run: |
        mkdir -p pkg/qcow/testdata
        chmod 755 pkg/qcow/testdata
        sudo mkdir -p /var/lib/marmot/volumes
        sudo chmod 755 /var/lib/marmot/volumes
        mc cp myminio/os-image/ubuntu22.04.img pkg/marmotd/testdata/ubuntu22.04.qcow2

    - name: Check etcd put
      run: |
        export ETCDCTL_API=3 
        etcdctl put --endpoints=127.0.0.1:2379 /skydns/local/labo/a/hoge '{"host":"192.168.1.5","ttl":60}'

    - name: Check etcd get
      run: |
        export ETCDCTL_API=3 
        etcdctl get --endpoints=127.0.0.1:2379 /skydns/local/labo/a/hoge

    - name: Setup for build
      run: |
        make setup

    - name: Test pkg/config
      run: | 
        cd pkg/config
        sudo -s make test
        cd ../..

    - name: Test pkg/db
      run: | 
        cd pkg/db
        sudo -s make test
        cd ../..

    - name: Test pkg/lvm
      run: | 
        cd pkg/lvm
        sudo -s make test
        cd ../..

    - name: Test pkg/qcow2
      run: | 
        cd pkg/qcow
        sudo -s make test
        cd ../..

    - name: Test pkg/util
      run: | 
        cd pkg/util
        sudo -s make test
        cd ../..

    - name: Test pkg/virt
      run: | 
        cd pkg/virt
        sudo -s make test
        cd ../..

    - name: Test pkg/marmotd ボリューム機能テスト
      run: |
        cd pkg/marmotd
        sudo -s make test-volume
        cd ../..

  # Label of the job
  marmot-daemon:
    runs-on: [ self-hosted, runner1 ]
    services:
      etcd:
        image: ghcr.io/takara9/etcd:3.6.5
        ports:
          - 2379:2379

    steps:
    - uses: actions/checkout@v5

    - name: change permissions
      run: |
        sudo -S chown -R $USER:$USER /var/actions-runner/_work/marmot

    - name: Install ca-certificates
      run: |
        sudo apt update && sudo apt install -y ca-certificates dnsutils etcd-client
        sudo update-ca-certificates

    - name: ボリュームのセットアップ
      run: |
        whoami
        export CI_ENVIRONMENT=true
        cd tools
        ls -al
        sudo -E env "PATH=$PATH" ./setup.sh
        cd ..

    - name: Configure MinIO Client
      run: |
        mc alias set myminio ${{ secrets.MINIO_ENDPOINT }} \
          ${{ secrets.MINIO_ACCESS_KEY }} \
          ${{ secrets.MINIO_SECRET_KEY }}

    - name: Download file from MinIO
      run: |
        mkdir -p pkg/qcow/testdata
        chmod 755 pkg/qcow/testdata
        sudo mkdir -p /var/lib/marmot/volumes
        sudo chmod 755 /var/lib/marmot/volumes
        mc cp myminio/os-image/jammy-server-cloudimg-amd64.img pkg/marmotd/testdata/ubuntu22.04.qcow2

    - name: Check etcd put
      run: |
        export ETCDCTL_API=3 
        etcdctl put --endpoints=127.0.0.1:2379 /skydns/local/labo/a/hoge '{"host":"192.168.1.5","ttl":60}'

    - name: Check etcd get
      run: |
        export ETCDCTL_API=3 
        etcdctl get --endpoints=127.0.0.1:2379 /skydns/local/labo/a/hoge
  
    - name: Setup for build
      run: |
        make setup
 
    - name: Test pkg/marmotd 全機能テスト
      run: |
        cd pkg/marmotd
        sudo -s make test
        cd ../..

  marmot-command:
    runs-on: [ self-hosted, runner2 ]
    strategy:
      matrix:
        go-version: [ '1.26.0' ]
    steps:
    - uses: actions/checkout@v5
    - name: Setup Go ${{ matrix.go-version }}
      uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.go-version }}
    - name: Display Go version
      run: go version

    - name: change permissions
      run: |
        sudo -S chown -R $USER:$USER /var/actions-runner/_work/marmot

    - name: Install ca-certificates
      run: |
        sudo apt update && sudo apt install -y ca-certificates dnsutils etcd-client
        sudo update-ca-certificates

    - name: ボリュームのセットアップ
      run: |
        whoami
        export CI_ENVIRONMENT=true
        cd tools
        ls -al
        sudo -E env "PATH=$PATH" ./setup.sh
        cd ..

    - name: Configure MinIO Client
      run: |
        mc alias set myminio ${{ secrets.MINIO_ENDPOINT }} \
          ${{ secrets.MINIO_ACCESS_KEY }} \
          ${{ secrets.MINIO_SECRET_KEY }}

    - name: Download file from MinIO
      run: |
        sudo mkdir -p /var/lib/marmot/volumes
        sudo chown ubuntu:ubuntu /var/lib/marmot/volumes
        sudo chmod 755 /var/lib/marmot/volumes
        mc cp myminio/os-image/jammy-server-cloudimg-amd64.img /var/lib/marmot/volumes/ubuntu22.04.qcow2

    - name: Test cmd/mactl
      run: | 
        cd cmd/mactl
        sudo -s mkdir -p bin
        sudo -s chown ubuntu:ubuntu bin
        sudo -s chmod 755 bin
        sudo -E env "PATH=$PATH" make mactl-test
        ls -la bin
        sudo -E env "PATH=$PATH" make test
        sudo rm -fr bin
        cd ../..

    - name: Test cmd/maadm
      run: | 
        cd cmd/maadm
        sudo -s mkdir -p bin
        sudo -s chown ubuntu:ubuntu bin
        sudo -s chmod 755 bin
        sudo -E env "PATH=$PATH" make test
        sudo rm -fr bin
        cd ../..

  cleanup-runner3:
    runs-on: [ self-hosted, runner3 ]
    needs: 
      - marmot-package
    if: always() 
    steps:
      - name: 各ランナーを掃除
        run: |
          pwd
          ls -al
          sudo -E env "PATH=$PATH" ./tools/cleanup.sh

  cleanup-runner1:
    runs-on: [ self-hosted, runner1 ]
    needs: 
      - marmot-daemon
    if: always() 
    steps:
      - name: 各ランナーを掃除
        run: |
          pwd
          ls -al
          sudo -E env "PATH=$PATH" ./tools/cleanup.sh

  cleanup-runner2:
    runs-on: [ self-hosted, runner2 ]
    needs: 
      - marmot-command
    if: always() 
    steps:
      - name: 各ランナーを掃除
        run: |
          pwd
          ls -al
          sudo -E env "PATH=$PATH" ./tools/cleanup.sh
