name: marmot CI on self-hosted hv1
on: push
env:
  # Setting an environment variable with the value of a configuration variable
  env_var: ${{ vars.ENV_CONTEXT_VAR || 'MARMOT CI' }}
  DEBUG: true

jobs:
  # Label of the job
  marmot-package:
    #needs: display-variables
    runs-on: self-hosted
    services:
      etcd:
        image: ghcr.io/takara9/etcd:3.6.5
        ports:
          - 2379:2379

      #coredns:
      #  image: maho/coredns:1.11.1
      #  ports: 
      #    - 1053:53/udp
      #  volumes:
      #    -  /var/actions-runner/_work/marmot/marmot/pkg/dns/testconf:/conf
      #  env:
      #    CONF: "/conf/Corefile"
      #    PORT: "53"

    steps:
    - name: change permissions
      run: |
        sudo -S chown -R $USER:$USER /var/actions-runner/_work/marmot

    - uses: actions/checkout@v5

    - name: Install ca-certificates
      run: |
        sudo apt update && sudo apt install -y ca-certificates dnsutils etcd-client
        sudo update-ca-certificates

    #- name: Set up Go
    #  uses: actions/setup-go@v4
    #  with:
    #    go-version: '1.21'

    #- name: Check coredns
    #  run: |
    #    docker ps
    #    dig -p 1053 @localhost A minio.labo.local +noall +answer

    - name: Configure MinIO Client
      run: |
        mc alias set myminio ${{ secrets.MINIO_ENDPOINT }} \
          ${{ secrets.MINIO_ACCESS_KEY }} \
          ${{ secrets.MINIO_SECRET_KEY }}

    - name: Download file from MinIO
      run: |
        mkdir -p pkg/qcow/testdata
        chmod 755 pkg/qcow/testdata
        sudo mkdir -p /var/lib/marmot/volumes
        sudo chmod 755 /var/lib/marmot/volumes
        mc cp myminio/os-image/jammy-server-cloudimg-amd64.img pkg/marmotd/testdata/ubuntu22.04.qcow2

    - name: Check etcd put
      run: |
        export ETCDCTL_API=3 
        etcdctl put --endpoints=127.0.0.1:2379 /skydns/local/labo/a/hoge '{"host":"192.168.1.5","ttl":60}'
    - name: Check etcd get
      run: |
        export ETCDCTL_API=3 
        etcdctl get --endpoints=127.0.0.1:2379 /skydns/local/labo/a/hoge
    #- name: Check resolve by coredns and etcd 
    #  run: |
    #    dig -p 1053 @localhost A hoge.a.labo.local +noall +answer
    - name: Setup for build
      run: |
        make setup
    - name: Test pkg/config
      run: | 
        cd pkg/config
        sudo -s make test
        cd ../..
    - name: Test pkg/db
      run: | 
        cd pkg/db
        sudo -s make test
        cd ../..
    #- name: Test pkg/dns
    #  run: | 
    #    cd pkg/dns
    #    sudo -s make test
    #    cd ../..
    - name: Test pkg/lvm
      run: | 
        cd pkg/lvm
        sudo -s make test
        cd ../..

    - name: Test pkg/qcow2
      run: | 
        cd pkg/qcow
        sudo -s make test
        cd ../..

    - name: Test pkg/util
      run: | 
        cd pkg/util
        sudo -s make test
        cd ../..
    - name: Test pkg/virt
      run: | 
        cd pkg/virt
        sudo -s make test
        cd ../..
    - name: Test pkg/marmotd ボリューム機能テスト
      run: |
        cd pkg/marmotd
        sudo -s make test-volume
        cd ../..
  # Label of the job
  marmot-daemon:
    #needs: display-variables
    runs-on: self-hosted
    services:
      etcd:
        image: ghcr.io/takara9/etcd:3.6.5
        ports:
          - 2379:2379

    steps:
    - name: change permissions
      run: |
        sudo -S chown -R $USER:$USER /var/actions-runner/_work/marmot

    - uses: actions/checkout@v5

    - name: Install ca-certificates
      run: |
        sudo apt update && sudo apt install -y ca-certificates dnsutils etcd-client
        sudo update-ca-certificates

    - name: Configure MinIO Client
      run: |
        mc alias set myminio ${{ secrets.MINIO_ENDPOINT }} \
          ${{ secrets.MINIO_ACCESS_KEY }} \
          ${{ secrets.MINIO_SECRET_KEY }}

    - name: Download file from MinIO
      run: |
        mkdir -p pkg/qcow/testdata
        chmod 755 pkg/qcow/testdata
        sudo mkdir -p /var/lib/marmot/volumes
        sudo chmod 755 /var/lib/marmot/volumes
        mc cp myminio/os-image/jammy-server-cloudimg-amd64.img pkg/marmotd/testdata/ubuntu22.04.qcow2

    - name: Check etcd put
      run: |
        export ETCDCTL_API=3 
        etcdctl put --endpoints=127.0.0.1:2379 /skydns/local/labo/a/hoge '{"host":"192.168.1.5","ttl":60}'

    - name: Check etcd get
      run: |
        export ETCDCTL_API=3 
        etcdctl get --endpoints=127.0.0.1:2379 /skydns/local/labo/a/hoge
  
    - name: Setup for build
      run: |
        make setup
 
    - name: Test pkg/marmotd 全機能テスト
      run: |
        cd pkg/marmotd
        sudo -s make test
        cd ../..

  marmot-command:
    runs-on: self-hosted
    #needs: display-variables
    steps:
    - name: change permissions
      run: |
        sudo -S chown -R $USER:$USER /var/actions-runner/_work/marmot

    - uses: actions/checkout@v5

    - name: Install ca-certificates
      run: |
        sudo apt update && sudo apt install -y ca-certificates dnsutils etcd-client
        sudo update-ca-certificates

    - name: Configure MinIO Client
      run: |
        mc alias set myminio ${{ secrets.MINIO_ENDPOINT }} \
          ${{ secrets.MINIO_ACCESS_KEY }} \
          ${{ secrets.MINIO_SECRET_KEY }}

    - name: Download file from MinIO
      run: |
        sudo mkdir -p /var/lib/marmot/volumes
        sudo chown ubuntu:ubuntu /var/lib/marmot/volumes
        sudo chmod 755 /var/lib/marmot/volumes
        mc cp myminio/os-image/jammy-server-cloudimg-amd64.img /var/lib/marmot/volumes/ubuntu22.04.qcow2

    - name: Test cmd/mactl
      run: | 
        cd cmd/mactl
        sudo -s mkdir -p bin
        sudo -s chown ubuntu:ubuntu bin
        sudo -s chmod 755 bin
        sudo -s make mactl-test
        ls -la bin
        sudo -s make test
        cd ../..
    - name: Test cmd/maadm
      run: | 
        cd cmd/maadm
        sudo -s make test
        cd ../..

  #clean-up-job:
  #  runs-on: self-hosted
  #  needs: 
  #    - marmot-package-job 
  #    - marmot-command-test-job
  #  steps:
  #  - name: Clean up
  #    run: |
  #      go clean -cache -testcache -modcache -fuzzcache
  #      sudo rm -f /var/actions-runner/_work/marmot/marmot/cmd/mactl/bin/mactl-test
  #      sudo rm -f /var/actions-runner/_work/marmot/marmot/cmd/maadm/bin/maadm-test
  